header {
  background-color: var(--cor04);
  color: #fff;
  padding: 20px 20px 5px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 40px;
}

header #cantoEsquerdo {
  display: flex;
  align-items: center;
  width: 50%;
}

header #cantoEsquerdo .header__input {
  background-color: #fff;
  margin-left: 10px;
  padding: 4px;
  border-radius: 10px 5px 5px 10px;
  width: 400px;

  display: flex;
  justify-content: space-between;
}

header #cantoEsquerdo .header__input:hover {
  transform: scale(1.02);
  transition: all ease 0.2s;
}

header #cantoEsquerdo .header__input input {
  background-color: transparent;
  border: none;
  width: 100%;
}

header #cantoEsquerdo .header__input input:focus {
  outline: none;
  border: none;
}

header #cantoEsquerdo .header__input label {
  color: var(--cor04);
}

header #cantoDireito {
  display: flex;
  align-items: center;
}

header #cantoDireito > div {
  display: flex;
  justify-content: center;
  margin: 0px 4px;
}

header #cantoDireito div a {
  text-decoration: none;
  color: #fff;
}

header #cantoDireito div a:hover {
  transform: scale(1.08);
  text-decoration: underline;
  transition: all ease 0.3s;
}

header #cantoDireito > div#nome > a {
  margin-left: 5px;
}

header #cantoDireito #nome::after {
  content: "";
  background-color: var(--cor05);
  width: 2px;
  height: 20px;
  margin-left: 4px;
}

header #cantoDireito #inicio::after {
  content: "";
  background-color: var(--cor05);
  width: 2px;
  height: 20px;
  margin-left: 4px;
}

header #cantoDireito #amigos::after {
  content: "";
  background-color: var(--cor05);
  width: 2px;
  height: 20px;
  margin-left: 4px;
}

header #nome,
#inicio,
#amigos {
  display: flex;
  align-items: center;
  text-align: center;
}

header .header__settings {
  padding: 2px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid transparent;
}

header .header__settings .fa-solid:first-child {
  margin-right: 5px;
}

img#perfil {
  border-radius: 50%;
  background-color: #fff;
}
