main {
  position: absolute;
  left: 200px;
  top: 70px;
  width: calc(1000px - 150px - 40px);
}

#main__Create {
  padding: 10px;
  border-radius: 8px;

  background-color: #fff;
}

.main__Create__Header {
  display: flex;
  align-items: center;

  background-color: #e9e9e9;
  padding: 10px;
  margin: -10px -10px 0px -10px;

  border-radius: 8px 8px 0px 0px;
}

.main__Create__Header p {
  width: max-content;
  color: var(--cor02);
}

.main__Create__Header p:hover {
  transform: scale(1.05);
  color: black;

  transition: all ease 0.3s;
}

.main__Create__Header p::after {
  content: "";
  background-color: var(--cor03);
  width: 5px;
  height: 10px;
  margin-left: 10px;
}

.main__Create__Content {
  display: flex;

  margin: 10px 0px;
}

.main__Create__Content img {
  width: 40px;
  height: 40px;
}

.main__Create__Content #descricao__Post {
  width: 100%;
  height: 50px;

  border: none;
  resize: none;
  margin-left: 10px;
}

.main__Create__Content #descricao__Post:focus {
  border: none;
}

.main__Create__Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 2px solid var(--cor04);
  padding-top: 10px;
}

.main__Create__Footer input#main__Create__fotos-videos {
  margin-right: 20px;
}

.main__Create__Footer .main__Create__Footer__botao {
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: var(--cor02);
}

.main__Create__Footer .main__Create__Footer__botao:hover {
  background-color: var(--cor03);
  transform: scale(1.03);
  color: #fff;

  transition: all ease 0.3s;
}
