:root {
	--colorwhite: #FBFFFE;
	--colorblack: #191919;
	--color01: #F3D4B9;
	--color02: #90F1EF;
	--color03: #058DDE;
	--color04: #454372;
	--color05: #2F2963;
}

.App {
    width: 100vw;
	height: 100vh;

    display: flex;
    justify-content: center;

	background-color: #d6d6d6;
}
