:root {
	--colorwhite: #F3D4B9;
	--colorblack: #000;
	--color01: #058DDE;
	--color02: #0172CA;
	--color03: #102E79;
	--color04: #0F0B52;
	--color05: #0d0a42;
}

.App {
    display: flex;
    justify-content: center;

    width: 100vw;
}
